/* Allmän styling */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header-styling */
header {
    padding: 20px;
    position: relative;
    z-index: 2;
    background-color: black; /* valfritt men rekommenderat för kontrast */
    color: white;
    padding: 2rem;
    text-align: center;
}

/* Titel-styling */
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Länk-styling */
.download-link {
    color: #00ff00;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.download-link:hover {
    text-decoration: underline;
}

video {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
  }

  .coming-soon {
    text-align: center;
    padding: 2rem;
  }
  
  .phone-icon {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
  }